{
	"swagger": "2.0",
	"info": {
		"version": "1.0",
		"title": "demo"
	},
	"host": "leo.fleetup.cc",
	"basePath": "/",
	"tags": [
		{
			"name": "demo-controller",
			"description": "Demo Controller"
		}
	],
	"paths": {
		"/demo/address": {
			"get": {
				"tags": [
					"demo-controller"
				],
				"summary": "address",
				"operationId": "addressUsingGET",
				"produces": [
					"*/*"
				],
				"parameters": [
					{
						"name": "address",
						"in": "query",
						"description": "address",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "string"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			},
			"post": {
				"tags": [
					"demo-controller"
				],
				"summary": "address",
				"operationId": "addressUsingPOST",
				"consumes": [
					"application/json"
				],
				"produces": [
					"*/*"
				],
				"parameters": [
					{
						"in": "body",
						"name": "mode",
						"description": "mode",
						"required": true,
						"schema": {
							"$ref": "#/definitions/Address"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					},
					"201": {
						"description": "Created"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/demo/city": {
			"get": {
				"tags": [
					"demo-controller"
				],
				"summary": "city",
				"operationId": "cityUsingGET",
				"produces": [
					"*/*"
				],
				"parameters": [
					{
						"name": "city",
						"in": "query",
						"description": "city",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "string"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		},
		"/demo/country": {
			"get": {
				"tags": [
					"demo-controller"
				],
				"summary": "country",
				"operationId": "countryUsingGET",
				"produces": [
					"*/*"
				],
				"parameters": [
					{
						"name": "country",
						"in": "query",
						"description": "country",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "string"
						}
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"404": {
						"description": "Not Found"
					}
				},
				"deprecated": false
			}
		}
	},
	"definitions": {
		"Address": {
			"type": "object",
			"properties": {
				"address": {
					"type": "string"
				},
				"city": {
					"type": "string"
				},
				"country": {
					"type": "string"
				}
			},
			"title": "Address"
		}
	}
}
