{
  "swagger": "2.0",
  "info": {
    "description": "demo",
    "version": "2020-06-03T06:52:22Z",
    "title": "leo-api-gateway-test"
  },
  "host": "leo.fleetup.cc",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "x-amazon-apigateway-any-method": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response" 
          }
        }
      }
    },
    "/demo/pets": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        }
      }
    },
    "/demo/petstore/{proxy+}": {
      "x-amazon-apigateway-any-method": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "proxy",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/demo/test1": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        }
      }
    },
    "/demo/test2": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "FirmwareInputModel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirmwareInputModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        }
      }
    },
    "/demo/{proxy+}": {
      "x-amazon-apigateway-any-method": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "proxy",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/test": {
      "x-amazon-apigateway-any-method": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        }
      }
    },
    "/{proxy+}": {
      "x-amazon-apigateway-any-method": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "proxy",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "x-api-key",
      "in": "header"
    }
  },
  "definitions": {
    "Empty": {
      "type": "object",
      "title": "Empty Schema"
    },
    "FirmwareInputModel": {
      "type": "object",
      "properties": {
        "totalReq": {
          "type": "integer",
          "minimum": -180,
          "maximum": 180
        },
        "pageSizeReq": {
          "type": "integer"
        },
        "pageNoReq": {
          "type": "integer"
        },
        "rowsReq": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "firmwareId": {
                "type": "string"
              },
              "firmwareVersion": {
                "type": "string"
              },
              "firmwareLocation": {
                "type": "string"
              },
              "firmwareStage": {
                "type": "integer"
              },
              "fileSize": {
                "type": "integer"
              },
              "addBy": {
                "type": "integer"
              },
              "updateBy": {
                "type": "integer"
              },
              "description": {
                "type": "string"
              },
              "status": {
                "type": "integer"
              },
              "createTime": {
                "type": "integer"
              },
              "lastUpdateTime": {
                "type": "integer"
              },
              "deviceTypes": {
                "type": "integer"
              },
              "creatorName": {
                "type": "string"
              },
              "updaterName": {
                "type": "string"
              },
              "fotaProtocol": {
                "type": "string"
              }
            },
            "required": [
              "firmwareId",
              "firmwareLocation",
              "firmwareVersion"
            ]
          }
        }
      },
      "title": "FirmwareInputModel"
    }
  }
}
